* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #080808;
    color: #F4EEEE;
}


nav {
    background-color: #080808;
    padding: 1.5rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.Navigatie img {
    height: 1.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

nav ul li a {
    color: #F4EEEE;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #E25822;
}

/* ABOUT HERO SECTION */
.about-hero {
    padding: 4rem 8rem 6rem;
    text-align: center;
}

.about-hero h1 {
    font-size: 4rem;
    font-weight: bold;
    color: #F4EEEE;
}

.about-hero h1 span {
    color: #E25822;
}

/* QUOTE */
.quote-section {
    padding: 6rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-box {
    background-color: #E25822;
    padding: 4rem 4rem;
    border-radius: 1.5rem;
    max-width: 100%;
    text-align: center;
}

.quote-box p {
    font-size: 2.7rem;
    color: #080808;
    font-weight: bold;
}


.mission-section {
    padding: 5rem 3rem;
    max-width: 75rem;
    margin: 0 auto;
}

.mission-header {
    text-align: center;
    margin-bottom: 4rem;
}

.mission-label {
    font-size: 1rem;
    color: #F4EEEE;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
}

.mission-header h2 {
    font-size: 2.5rem;
    color: #F4EEEE;
}

.mission-header h2 span {
    color: #E25822;
}

.mission-content {
    display: flex;
    gap: 4rem;
    align-items: center;
}

.mission-text {
    flex: 1;
}

.mission-text p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #F4EEEE;
    margin-bottom: 1.5rem;
}

.mission-image {
    flex: 1;
}

.mission-image img {
    width: 100%;
    border-radius: 1rem;
    
}


.values-section {
    padding: 10rem 2rem 6rem;
    
}

.values-header {
    text-align: center;
    margin-bottom: 4rem;
}

.values-label {
  font-size: 1rem;
color: #F4EEEE;
letter-spacing: 0.1rem;
 margin-bottom: 1rem;
 font-weight: 100;
}

.values-header h2 {
    font-size: 2.5rem;
    color: #F4EEEE;

}

.values-header h2 span {
    color: #E25822;
}

.values-grid {
    display: flex;
    gap: 3rem;
    max-width: 75rem;
    margin: 0 auto;
    flex-wrap: wrap;
}

.value-card {
    flex: 1;
    
}

.value-image {
    height: 25rem;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}

.value-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.value-card h3 {
    font-size: 1.4rem;
    color: #E25822;
    margin-bottom: 1.5rem;
    font-weight: 100;
    text-align: center;
}

.value-card p {
    font-size: 1rem;
    line-height: 1.7;
    color: #F4EEEE;
}


.origin-section {
    padding: 5rem 3rem;
    max-width: 75rem;
    margin: 0 auto;
}

.origin-header {
    text-align: center;
    margin-bottom: 4rem;
}

.origin-label {
    font-size: 1rem;
    color: #F4EEEE;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
    font-weight: 100;
}

.origin-header h2 {
    font-size: 2.5rem;
    color: #F4EEEE;
}

.origin-header h2 span {
    color: #E25822;
}

.origin-content {
    display: flex;
    gap: 4rem;
    align-items: center;
}

.origin-images {
    flex: 1;
   
}

.origin-images img {
    width: 100%;
    border-radius: 1rem;
}

.origin-text {
    flex: 1;
}

.origin-text p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #F4EEEE;
    margin-bottom: 1.5rem;
}

footer {
    background-color: #1a1a1a;  
    padding: 1.5rem 10rem 1.5rem;  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;  
    gap: 10rem;  
    
}

footer h3 {
    font-size: 1.5rem; 
    margin-bottom: 1.5rem;  
    color: #F4EEEE;
    font-weight: 400;  
}

footer p {
    margin-bottom: 1rem;  
    color: #F4EEEE;
    font-size: 1rem; 
    line-height: 1.6;  
}

footer a {
    color: #F4EEEE;
    text-decoration: none;
    transition: color 0.5s;
    font-size: 1rem;
}

footer > div:first-child img {
    height: 1.5rem;  
}

footer img:not(:first-child) {
    width: 2rem;  
    height: 3rem;
    margin-top: 0.2rem;
}

footer > p:last-child {
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 3rem;  
    padding-top: 2rem;
    
    font-size: 0.8rem;
}


.download-buttons {
    display: flex;
    flex-direction: column;
    
}

.app-store-btn,
.google-play-btn {
    display: block;
    margin-bottom: 0.8rem;
}

.app-store-btn img,
.google-play-btn img {
    width: auto;
    height: 2.5rem;
    display: block;
}


@media (max-width: 64rem) {
    nav {
        padding: 1.5rem 2rem;
    }

    nav ul {
        gap: 2rem;
    }

    .about-hero h1 {
        font-size: 3rem;
    }

    .quote-box {
        padding: 2rem 3rem;
    }

    .quote-box p {
        font-size: 1.3rem;
    }

    .mission-content {
        flex-direction: column;
    }

    .values-grid {
        flex-direction: column;
    }

    .value-card {
        min-width: 100%;
    }

    .origin-content {
        flex-direction: column;
    }

    footer {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 48rem) {
    nav {
        flex-direction: column;
        gap: 1rem;
        padding: 2rem;
    }

    nav ul {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }

    .about-hero {
        padding: 3rem 1rem;
    }


    .quote-section {
        padding: 2rem 1rem;
    }

    .quote-box {
        padding: 2rem 2rem;
    }

    .quote-box p {
        font-size: 1.1rem;
    }

    .mission-section,
    .values-section,
    .origin-section {
        padding: 5rem 1.5rem;
    }

    .mission-header h2,
    .values-header h2,
    .origin-header h2 {
        font-size: 2rem;
    }

    .mission-content,
    .origin-content {
        flex-direction: column;
        gap: 2rem;
    }

     footer {
        grid-template-columns: 1fr;
        text-align: center;
        padding: 2rem 1rem 1rem;
    }

    footer > div:first-child img {
        display: block;
        margin: 0 auto;
    }
}
